---
Checks:
  - bugprone-*
  - cert-*
  - clang-analyzer-*
  - concurrency-*
  - cppcoreguidelines-*
  - hicpp-*
  - misc-*
  - modernize-*
  - performance-*
  - portability-*
  - readability-*
CheckOptions:
  readability-identifier-length.MinimumVariableNameLength: 2
  readability-identifier-length.MinimumParameterNameLength: 2
FormatStyle: file
HeaderFilterRegex: "src/.*"
